body {
    padding-top: 20px;
}
.__wireframe-right-controls {
    position: fixed;
    background: #28292E;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.__wireframe-left-top-controls {
    position: fixed;
    background: #28292E;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
}
.__wireframe-left-bottom-controls {
    position: fixed;
    height: 50vh;
    background: #28292E;
    top: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
}
.__wireframe-bottom-controls {
    position: fixed;
    background: #28292E;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.__wireframe-top-bar {
    display: flex;
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    position: fixed;
    width: 100vw;
    height: 20px;
    top: 0;
    left: 0;
    background: #28292E;
}
.__wireframe-top-bar > .__wireframe-logo {
    margin-top: 2px;
    margin-left: 70px;
    margin-right: 70px;
}
.__wireframe-top-bar > .__wireframe-test-play-button {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 128, 0, 0.2);
    padding: 2px 10px;
}
.__wireframe-controls {
    overflow: hidden;
}
.__wireframe-controls * {
    font-family: sans-serif !important;
}
.__wireframe-controls:hover {
    opacity: 1
}
.tp-brkv {
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden;
}
button.tp-rotv_b {
    display: none
}
.tp-brkv::-webkit-scrollbar, .__wireframe-logs::-webkit-scrollbar {
    width: 7px;
}
.tp-brkv::-webkit-scrollbar-thumb, .__wireframe-logs::-webkit-scrollbar-thumb {
    background: #3E3F44;
    border-radius: 3px;
}
.tp-brkv::-webkit-scrollbar-thumb:hover, .__wireframe-logs::-webkit-scrollbar-thumb:hover {
    background: #BBBCC4;
}
.tp-btnv_t {
    background: #25564d;
    color: lightgrey
}
.__tweakpane-delete-btn .tp-btnv_t, .__tweakpane-delete-btn .tp-radv_t {
    background-color: #461818;
    color: grey;
}
.__tweakpane-delete-btn .tp-btnv_t:hover {
    color: white;
}

.__tweakpane-material-deleter {
    margin-top: -10px !important;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.__tweakpane-material-deleter .tp-radv_b {
    background: transparent !important;
    opacity: 1 !important;
}
.__tweakpane-material-deleter .tp-lblv_l {
    display: none;
}
.__tweakpane-material-deleter .tp-radv_t {
    max-width: 20px;
    margin-left: auto;
    background: #710f0f;
    border-radius: 3px;
}
.__tweakpane-material-deleter .tp-radv_t:hover {
    color: white !important;
    background: #a50000 !important;
}

.__wireframe-object-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #ADAFB8;
    padding-right: 5px;
    border-left: 2px solid transparent;
    /*padding-left: 5px;*/
    margin-left: -4px;
}

.__wireframe-invisible-folder > button {
    display: none;
}
.__wireframe-invisible-folder > div {
    border: none;
    padding: 0;
}

.__wireframe-object-select:hover {
    border-color: #ff0066;
}
.__wireframe-object-select > .__wireframe-object-text {
    padding-top: 5px;
    padding-left: 5px;
    min-height: 17px;
    margin-right: 5px;
    width: 100%;
    border-radius: 3px;
}
.__wireframe-object-select > button {
    background: transparent;
    border-radius: 3px;
    border: none;
    color: white;
}
.__wireframe-object-select > button:hover {
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
}
.__wireframe-object-select > button:first-child {
    background: #3E3F44;
    border: none;
    border-radius: 3px;
    color: white;
    margin-left: auto;
    margin-right: 3px;
}
.__wireframe-object-select > button:first-child:hover {
    background: #ADAFB8;
    color: #3E3F44;
}
.__wireframe-object-select > button:last-child:hover {
    background: #710f0f;
    border-color: #710f0f;
    color: white;
}
.__wireframe-object-select > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 24px;
}
.__wireframe-object-select.__wireframe-active > .__wireframe-object-text {
    background: white;
    color: #28292E;
}

.__wireframe-logs {
    color: white;
    height: 330px;
    overflow-y: auto;
    font-size: 14px;
}
.__wireframe-logs p {
    margin: 0 !important;
    padding: 3px;
}
.__wireframe-flex {
    display: flex;
    align-items: flex-start;
}
.__wireframe-logs button {
    height: 14px;
    background: transparent;
    border: none;
    color: white;
}
.__wireframe-logs div:not(.__wireframe-flex) {
    margin-bottom: 2px;
}
.__wireframe-logs > div:last-child {
    margin-bottom: 50px;
}

.__wireframe-logs .__wireframe-error {
    background-color: #710f0f;
    max-width: max-content;
}

.__wireframe-logs .__wireframe-info {
    background-color: #1b3b50;
    max-width: max-content;
}

.__wireframe-logs .__wireframe-warn {
    background-color: #a7761e;
    max-width: max-content;
}
.__wireframe_warn-icon {
    color: #ffa000;
}
.__wireframe-error-icon {
    color: red;
}

.__wireframe-assets > button{
    display: none;
}
.__wireframe-assets {
    width: 100%;
    height: 330px;
}
.__wireframe-assets > .__wireframe-context-menu {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.__wireframe-assets > .__wireframe-context-menu > button {
    background: #aeaeae !important;
    padding: 3px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.__wireframe-assets > .__wireframe-context-menu > button:hover {
    background: #797979 !important;
}
.__wireframe-assets button.__wireframe-router-btn {
    background-color: transparent;
    color: white;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid transparent;
}
.__wireframe-assets button.__wireframe-router-btn:hover {
    border-color: white;
    background: rgba(0, 208, 253, 0.17);
}
.__wireframe-assets .__wireframe-explorer {
    display: flex;
    flex-wrap: wrap;
}
.__wireframe-assets .__wireframe-assets-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80px;
    max-width: 80px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 10px;
}
.__wireframe-assets .__wireframe-assets-grid:hover {
    background: rgba(0, 208, 253, 0.17);
}
.__wireframe-assets-grid > img {
    width: 100%;
}
.__wireframe-assets-grid > p {
    margin-top: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}
/*DROPDOWN STYLES*/
.__wireframe-top-bar button.__wireframe-dropdown-button {
    font-size: 12px !important;
}

.__wireframe-dropdown-container > button.__wireframe-dropdown-button {
    height: 100%;
    background: transparent;
    color: white;
    border: none;
}
.__wireframe-dropdown-container--active > button.__wireframe-dropdown-button {
    background: #BBBCC4 !important;
    color: black !important;
}
.__wireframe-dropdown-container > button.__wireframe-dropdown-button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.__wireframe-dropdown-container > .__wireframe-dropdown-content {
    background: #28292E;
}
.__wireframe-dropdown-content button.__wireframe-hidden-menu-option {
    width: 180px;
    max-width: 180px;
    display: block;
    background: #28292E;
    color: white;
    border: none;
    padding: 5px;
    text-align: left;
}
.__wireframe-dropdown-content button.__wireframe-hidden-menu-option:hover {
    background: #3E3F44;
}
.__wireframe-hidden-menu-option > .__wireframe-submenu-container {
    position: absolute;
    margin-top: -20px;
    margin-left: 175px;
}
.__wireframe-instruments {
    display: flex;
    flex-wrap: wrap;
}
.__wireframe-instruments > button.__wireframe-instruments__button {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 120px;
    margin: 0;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}
.__wireframe-instruments > button.__wireframe-instruments__button > .__wireframe-instruments__button__tooltip {
    margin-left: 5px;
}
/*.__wireframe-instruments > button.__wireframe-instruments__button:hover > .__wireframe-instruments__button__tooltip {*/
/*    visibility: visible;*/
/*}*/
.__wireframe-instruments > button.__wireframe-instruments__button.__wireframe-instruments__button-active {
    background: var(--cnt-bg);
}
.__wireframe-instruments > button.__wireframe-instruments__button > img {
    width: 20px;
}