body {
    padding-top: 20px;
}
.__wireframe-d-none {
    display: none;
}
.__wireframe-dropdown-text-delete {
    color: red;
}
.__wireframe-controls, .__wireframe-controls *{
    user-select: none
}
.__wireframe-right-controls {
    position: fixed;
    background: #28292E;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.__wireframe-left-controls {
    position: fixed;
    background: #28292E;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
}
.__wireframe-elements-header {
    font-size: 13px;
    color: white;
    font-weight: bold;
    padding: 3px 0px 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.__wireframe-elements-header > .__wireframe-elements-buttons-row {
    display: flex;
}
.__wireframe-elements-header > .__wireframe-elements-buttons-row button {
    background: none;
    border: none;
    padding: 3px 6px;
    border-radius: 3px;
}
.__wireframe-elements-header > .__wireframe-elements-buttons-row button:hover {
    background-color: #3E3F44;
}
.__wireframe-elements-header > .__wireframe-elements-buttons-row button > img {
    width: 15px;
}
.__wireframe-left__objects-list-controls {
    border-top: 2px solid #79797933;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}
.__wireframe-left__objects-list-controls .__wireframe-object-select {
    padding-left: 5px;
    font-size: 12px;
}
.__wireframe-left__objects-list-controls .__wireframe-object-select:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.__wireframe-bottom-controls {
    position: fixed;
    background: #28292E;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.__wireframe-top-bar {
    display: flex;
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    position: fixed;
    width: 100vw;
    height: 20px;
    top: 0;
    left: 0;
    background: #28292E;
}
.__wireframe-top-bar > .__wireframe-logo {
    margin-top: 2px;
    margin-left: 70px;
    margin-right: 70px;
}
.__wireframe-top-bar > .__wireframe-test-play-button {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 128, 0, 0.2);
    padding: 2px 10px;
}
.__wireframe-controls {
    overflow: hidden;
}
.__wireframe-controls * {
    font-family: sans-serif !important;
}
.__wireframe-controls:hover {
    opacity: 1
}
.__wireframe-right-controls .tp-brkv:first-of-type {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.__wireframe-right-controls .tp-tabv_i {
    position: sticky;
    z-index: 667;
    top: 0px;
    background-color: #28292E;
}
button.tp-rotv_b {
    display: none
}
.__wireframe-controls ::-webkit-scrollbar, .__wireframe-controls ::-webkit-scrollbar {
    width: 7px;
}
.__wireframe-controls ::-webkit-scrollbar-thumb, .__wireframe-controls ::-webkit-scrollbar-thumb {
    background: #3E3F44;
    border-radius: 3px;
}
.__wireframe-controls ::-webkit-scrollbar-thumb:hover, .__wireframe-controls ::-webkit-scrollbar-thumb:hover {
    background: #BBBCC4;
}
.tp-btnv_t {
    background: #25564d;
    color: lightgrey
}

.__tweakpane-material-deleter {
    margin-top: -10px !important;
    margin-bottom: 10px;
    justify-content: flex-end;
}
.__tweakpane-material-deleter .tp-radv_b {
    background: transparent !important;
    opacity: 1 !important;
}
.__tweakpane-material-deleter .tp-lblv_l {
    display: none;
}
.__tweakpane-material-deleter .tp-radv_t {
    max-width: 20px;
    margin-left: auto;
    background: #710f0f;
    border-radius: 3px;
}
.__tweakpane-material-deleter .tp-radv_t:hover {
    color: white !important;
    background: #a50000 !important;
}

.__wireframe-object-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #ADAFB8;
    padding-right: 5px;
    border-left: 2px solid transparent;
    /*padding-left: 5px;*/
    margin-left: -4px;
}

.__wireframe-invisible-folder > button {
    display: none;
}
.__wireframe-invisible-folder > div {
    border: none;
    padding: 0;
}
.__wireframe-object-select.__wireframe-active.__wireframe-dragover > .__wireframe-object-text {
    background: white !important;
    color: black !important;
}
.__wireframe-object-select.__wireframe-dragover > .__wireframe-object-text::before {
    display: block;
    content: '⧱ Drop here';
    width: 100%;
    height: 13px;
    margin-bottom: 5px;
    background: white;
    text-align: center;
    color: black;
    border-radius: 10px;
}
.__wireframe-empty-fields-container.__wireframe-object-select {
    background: transparent !important;
}
.__wireframe-empty-fields-container.__wireframe-dragover {
    background: grey !important;
    height: 50px;
}
.__wireframe-empty-fields-container.__wireframe-dragover > .__wireframe-object-text {
    height: 100%;
}
.__wireframe-empty-fields-container.__wireframe-dragover > .__wireframe-object-text::before {
    margin-top: 20px;
    background-color: grey;
    content: "⧱ Drop to Root";
}
.__wireframe-elements-group-dropdown > .__wireframe-object-select.__wireframe-dragover {
    background-color: white !important;
    color: black;
}
.__wireframe-elements-group-dropdown > .__wireframe-object-select.__wireframe-dragover > .__wireframe-object-text::before {
    content: '⤓ Drop Inside';
}
.__wireframe-object-select:hover {
    border-color: #ff0066;
}
.__wireframe-object-select > .__wireframe-object-text {
    padding-top: 5px;
    padding-left: 5px;
    min-height: 17px;
    margin-right: 5px;
    width: 100%;
    border-radius: 3px;
}
.__wireframe-object-select > button {
    background: transparent;
    border-radius: 3px;
    border: none;
    color: white;
}
.__wireframe-object-select > button:hover {
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
}
.__wireframe-object-select > button:first-child {
    background: #3E3F44;
    border: none;
    border-radius: 3px;
    color: white;
    margin-left: auto;
    margin-right: 3px;
}
.__wireframe-object-select > button:hover {
    background: #37383D;
    color: white;
}
.__wireframe-object-select > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 24px;
}
.__wireframe-object-select.__wireframe-active > .__wireframe-object-text {
    background: #3E3F44;
    color: white;
}
.__wireframe-hide-bottom-menu-btn {
    cursor: pointer;
    position: absolute;
    margin-top: -20px;
    background-color: #28292E;
    color: white;
    border-radius: 10px 0 0 0;
    border: none;
}
.__wireframe-console {
    color: white;
    margin-bottom: 10px;
    border-bottom: 2px solid #3E3F44;
    padding-bottom: 5px;
    font-family: monospace;
}
.__wireframe-console-dropdown {
    position: fixed;
    z-index: 666;
    margin-top: 20px;
    background: #28292E;
    color: white;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #3E3F44;
    border-top: none;
}
.__wireframe-console-dropdown-option {
    padding: 5px 50px 5px 5px;
    cursor: pointer;
}
.__wireframe-console-dropdown-option--active {
    background: #3E3F44;
}
.__wireframe-console-dropdown-option--active:after {
    content: '(Tab)';
    display: block;
    position: absolute;
    right: 0;
    font-size: 14px;
    color: lightgrey;
    margin-top: -15px;
}
.__wireframe-console .__wireframe-console-input {
    width: calc(100% - 20px);
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}
.__wireframe-logs {
    color: white;
    height: 330px;
    overflow-y: auto;
    font-size: 14px;
    padding-bottom: 300px;
}
.__wireframe-logs p {
    margin: 0 !important;
    padding: 3px;
}
.__wireframe-logs-br {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.__wireframe-flex {
    display: flex;
    align-items: flex-start;
}
.__wireframe-logs button {
    cursor: pointer;
    height: 14px;
    background: transparent;
    border: none;
    color: white;
    padding: 0;
}
.__wireframe-logs div:not(.__wireframe-flex) {
    margin-bottom: 2px;
}
.__wireframe-logs > div:last-child {
    margin-bottom: 50px;
}

.__wireframe-logs .__wireframe-error {
    background-color: #710f0f;
    max-width: max-content;
}

.__wireframe-logs .__wireframe-info {
    background-color: #1b3b50;
    max-width: max-content;
}

.__wireframe-logs .__wireframe-warn {
    background-color: #a7761e;
    max-width: max-content;
}
.__wireframe-logs .__wireframe-logs_data-area {
    display: block;
    padding-left: 14px;
}
.__wireframe-logs .__wireframe-logs_first-object {
    padding-top: 14px;
    padding-left: 0;
}
.__wireframe-logs .__wireframe-logs_close-brace {
    padding-left: 10px;
}
.__wireframe-logs .__wireframe-logs_field-key {
    color: rgba(211, 164, 183, 0.99);
}
.__wireframe-logs .__wireframe-logs_collapsed-key {
    color: rgba(193, 193, 193, 0.99);
    font-style: italic;
}
.__wireframe-logs .__wireframe-logs_field-value-string {
    color: rgba(237, 143, 109, 0.99);
}
.__wireframe-logs .__wireframe-logs_field-value-string:before,
.__wireframe-logs .__wireframe-logs_field-value-string:after {
    content: '"';
}
.__wireframe-logs .__wireframe-logs_field-value-number, .__wireframe-logs .__wireframe-logs_field-value-boolean {
    color: rgba(156, 215, 255, 0.99);
}
.__wireframe-logs .__wireframe-logs-field-value-function {
    color: rgba(156, 215, 255, 0.99);
    font-style: italic;
}
.__wireframe_warn-icon {
    color: #ffa000;
}
.__wireframe-error-icon {
    color: red;
}

.__wireframe-assets > button{
    display: none;
}
.__wireframe-assets {
    width: 100%;
    height: 330px;
}
.__wireframe-assets > .__wireframe-context-menu {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.__wireframe-assets > .__wireframe-context-menu > button {
    background: #aeaeae !important;
    padding: 3px 10px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.__wireframe-assets > .__wireframe-context-menu > button:hover {
    background: #797979 !important;
}
.__wireframe-assets button.__wireframe-router-btn {
    background-color: transparent;
    color: white;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid transparent;
}
.__wireframe-assets button.__wireframe-router-btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.__wireframe-assets button.__wireframe-router-btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.__wireframe-assets button.__wireframe-router-btn:hover {
    border-color: white;
    background: rgba(0, 208, 253, 0.17);
}
.__wireframe-assets .__wireframe-explorer {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
}
.__wireframe-assets .__wireframe-assets-grid {
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80px;
    max-width: 80px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
}
.__wireframe-assets .__wireframe-assets-grid:hover {
    background: rgba(0, 208, 253, 0.17);
}
.__wireframe-assets-grid > img {
    width: 100%;
    border-radius: 3px;
}
.__wireframe-assets-grid > p {
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}
/*DROPDOWN STYLES*/
.__wireframe-top-bar button.__wireframe-dropdown-button {
    font-size: 12px !important;
}

.__wireframe-dropdown-content {
    position: fixed;
    display: inline-block;
}

.__wireframe-dropdown-container > button.__wireframe-dropdown-button {
    height: 100%;
    background: transparent;
    color: white;
    border: none;
}
button.__wireframe-dropdown-button--active {
    background: #3E3F44 !important;
    color: white !important;
}
.__wireframe-dropdown-container > button.__wireframe-dropdown-button:hover {
    background: rgba(255, 255, 255, 0.1);
}
.__wireframe-dropdown-container > .__wireframe-dropdown-content {
    background: #28292E;
}
.__wireframe-dropdown-content button.__wireframe-hidden-menu-option {
    width: 180px;
    max-width: 180px;
    display: block;
    background: #28292E;
    color: white;
    border: none;
    border-radius: 0;
    padding: 5px;
    text-align: left;
}
.__wireframe-dropdown-content button.__wireframe-hidden-menu-option:hover {
    background: #3E3F44;
}
.__wireframe-hidden-menu-option > .__wireframe-submenu-container {
    position: absolute;
    margin-top: -20px;
    margin-left: 175px;
}
.__wireframe-instruments {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.__wireframe-instruments > button.__wireframe-instruments__button {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 120px;
    padding: 10px;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
}
.__wireframe-instruments > button.__wireframe-instruments__button:hover {
    border-color: rgba(255, 255, 255, 0.22);
}
.__wireframe-instruments > button.__wireframe-instruments__button > .__wireframe-instruments__button__tooltip {
    margin-left: 5px;
}
.__wireframe-controls .__wireframe-file-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(187, 188, 196, 0.7);
    padding-left: 4px;
    padding: 4px 0;
}
.__wireframe-controls .__wireframe-file-input-container > .__wireframe-file-input-buttons-container {
    padding-right: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 160px;
}
.__wireframe-controls .__wireframe-file-input-container > .__wireframe-file-input-buttons-container > input {
    display: none;
}
.__wireframe-controls .__wireframe-file-input-container > .__wireframe-file-input-buttons-container > label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 125px;
    display: inline;
    background-color: rgba(187, 188, 196, 0.1);
    border: 2px dashed transparent;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.__wireframe-controls .__wireframe-file-input-container > .__wireframe-file-input-buttons-container > label:hover::before {
    visibility: visible;
    display: inline;
    content: "Set Image File";
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
.__wireframe-controls .__wireframe-file-input-container > .__wireframe-file-input-buttons-container .__wireframe-file-input-delete {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: rgba(187, 188, 196, 0.1);
    border: none;
    border-radius: 3px;
    color: grey;
    font-weight: 600;
    font-size: 12px;
}
.__wireframe-controls .__wireframe-file-input-container > .__wireframe-file-input-buttons-container .__wireframe-file-input-delete:hover {
    background-color: rgba(197, 30, 30, 0.5);
}
.__wireframe-instruments > button.__wireframe-instruments__button.__wireframe-instruments__button-active {
    background: rgba(128, 128, 128, 0.25)
}
.__wireframe-instruments > button.__wireframe-instruments__button > img {
    width: 20px;
}

.__wireframe-elements-group-dropdown > .__wireframe-elements-group-dropdown-children > div {
    margin-left: 10px !important;
    padding-left: 0 !important;
    border-left: 2px solid darkgrey !important;
}

.__gltf-animation-container {
    color: #bbbcc4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.__gltf-animation-container button {
    border: none;
    color: #bbbcc4;
    background-color: #3E3F44;
    cursor: pointer;
    padding: 0;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
.__gltf-animation-container .__gltf-animation-controls-row {
    display: flex;
}

.tp-tabv_c, .tp-fldv_c {
    border-left: none;
}

.list-icon {
    height: 16px;
    margin: -2px 0 -2px 0;
}